server:
  port: 2333
  address: 0.0.0.0

lavalink:
  server:
    password: "yourpassword"
    sources:
      youtube: true
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false
    bufferDurationMs: 400
    frameBufferDurationMs: 5000
    trackStuckThresholdMs: 10000
    useSeekGhosting: true

metrics:
  prometheus:
    enabled: false

sentry:
  enabled: false

logging:
  file: ./logs/
  level:
    root: INFO
    lavalink: INFO
